{{!
    @template local_global_events/event_page
}}
<div class="global-events-dashboard">
    {{#ismanager}}
    <section class="global-events-dashboard__management" aria-labelledby="global-events-management-heading">
        <h2 id="global-events-management-heading">
            {{#isparentmanager}}{{#str}}parentcompanysummary, local_global_events{{/str}}{{/isparentmanager}}
            {{^isparentmanager}}{{#str}}companysummary, local_global_events{{/str}}{{/isparentmanager}}
        </h2>
        {{#hascompanies}}
        <div class="table-responsive">
            <table class="generaltable">
                <thead>
                    <tr>
                        <th scope="col">{{#str}}company, local_global_events{{/str}}</th>
                        <th scope="col">{{#str}}members, local_global_events{{/str}}</th>
                        <th scope="col">{{#str}}activelearners, local_global_events{{/str}}</th>
                        <th scope="col">{{#str}}points, local_global_events{{/str}}</th>
                        <th scope="col">{{#str}}awards, local_global_events{{/str}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#companies}}
                    <tr>
                        <th scope="row">{{name}}</th>
                        <td>{{members}}</td>
                        <td>{{activelearners}}</td>
                        <td>{{points}}</td>
                        <td>{{awards}}</td>
                    </tr>
                    {{/companies}}
                </tbody>
            </table>
        </div>
        {{/hascompanies}}
    </section>
    {{/ismanager}}

    {{#islearner}}
    <section class="global-events-dashboard__progress" aria-labelledby="global-events-progress-heading">
        <h2 id="global-events-progress-heading">{{#str}}yourprogress, local_global_events{{/str}}</h2>
        <div class="global-events-dashboard__points">
            <strong>{{progress.points}}</strong>
            <span>{{#str}}points, local_global_events{{/str}}</span>
            {{#haslevel}}<span>{{progress.levelname}}</span>{{/haslevel}}
        </div>
        <div class="progress" role="progressbar" aria-valuenow="{{progress.percentage}}" aria-valuemin="0"
             aria-valuemax="100">
            <div class="progress-bar" style="width: {{progress.percentage}}%"></div>
        </div>
        {{#hasnextlevel}}
            <p>{{progress.points}} / {{progress.nextpoints}} &middot; {{progress.nextlevelname}}</p>
        {{/hasnextlevel}}
    </section>

    <section aria-labelledby="global-events-badges-heading">
        <h2 id="global-events-badges-heading">{{#str}}recentbadges, local_global_events{{/str}}</h2>
        {{#hasbadges}}
            <ul class="global-events-dashboard__badges">
                {{#badges}}
                    <li>
                        <strong>{{name}}</strong>
                        <span>{{issuedlabel}}</span>
                    </li>
                {{/badges}}
            </ul>
        {{/hasbadges}}
        {{^hasbadges}}<p>{{#str}}nobadges, local_global_events{{/str}}</p>{{/hasbadges}}
    </section>

    <section aria-labelledby="global-events-upcoming-heading">
        <h2 id="global-events-upcoming-heading">{{#str}}upcomingevents, local_global_events{{/str}}</h2>
        {{#hasevents}}
            <ul class="global-events-dashboard__events">
                {{#events}}
                    <li>
                        {{#hascourse}}<a href="{{courseurl}}">{{name}}</a>{{/hascourse}}
                        {{^hascourse}}<strong>{{name}}</strong>{{/hascourse}}
                        <span>{{startlabel}}</span>
                    </li>
                {{/events}}
            </ul>
        {{/hasevents}}
        {{^hasevents}}<p>{{#str}}noevents, local_global_events{{/str}}</p>{{/hasevents}}
    </section>

    <p><a href="{{certificateurl}}">{{#str}}viewcertificates, local_global_events{{/str}}</a></p>
    {{/islearner}}
</div>
